:root{
   --text-color: #1a1c20;
   --link-color: #4a76ee;
   --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    max-width: 1400px;
    margin: auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    background-color: black;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    color: white;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
    color: white;
}

nav .right a:last-child{
    color: var(--background-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

/* section 1:Hero */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text{
    flex: 5;
}

.hero-section .text h2{
    font-size: 45px;
}

.hero-section .text .links{
    margin-top: 25px;
}
    
.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
}

.hero-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img{
    border-radius: 50%;
    width: 250px;
}

/* section 2:skills */
.skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5 solid #d3d3d3;
    border-radius: 5px;
    border: 1px solid black;
}

.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span{
    font-size: 18px;
}

/* section 3:Testimony */
.testimony-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.testimony-section h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.testimony-section .group{
    display: flex;
    align-items: center;
    gap: 50px;
}

.testimony-section .group .person-details{
    text-align: center;
    flex: 2;
}

.testimony-section .group .person-details img{
    aspect-ratio: 1/1;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimony-section .group .person-details p{
    font-weight: 600;
}

.testimony-section .group .person-details p:last-child{
    font-weight: normal;
}

.testimony-section .group .text{
    flex: 8;
}

/* section 4:Contact */
.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-section .group form button{
    font-size: 16px;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
}


@media (max-width: 600px)  {
    /* navbar */
  nav{
    padding: 0 20px;
  }

  nav .right a{
    font-size: 22px;
  }

  nav .right a:last-child{
    color: var(--link-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span{
    display: none;
  }

  /* section:1 Hero */
  .hero-section{
    padding: 0 20px;
  }

  .hero-section .text h2{
    font-size: 30px;
  }

  /* section 2:skills */
  .skills-section{
    padding: 0 20px;
  }

  .skills-section .cells .cell span{
    font-size: 16px;
  }

  /* section 3: Testimony */
  .testimony-section{
    padding: 0 20px;
  } 

  /* section 4: contact */
  .contact-section{
    padding: 0 20px;
  }
}


@media (max-width:850px) {
    /* section 1: Hero */
    .hero-section .text h2{
        font-size: 35px;
    }
}


@media (max-width:740px) {
    /* section 1: Hero */
    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-section .headshot img{
        width: 200px;
    }

    /* section 3:Testimony */
    .testimony-section{
        text-align: center;
    }

    .testimony-section .group{
        flex-direction: column;
    }

    /* section 4:Contact */
    .contact-section .group{
        flex-direction: column;
    }
}




